# macOS
.DS_Store
._*

# Python
.venv/
**/__pycache__/
**/*.pyc
**/*.pyo

# IDE

# Project
*.log
logs/
runs/*
sb-cli-reports/*

!runs/swe-verified_50_gemini-2.5-pro/swe_verified_50_gemini-2.5-pro-new/preds.json
!runs/sb-cli-reports/gemini__gemini-2.5-pro.gemini-2.5-pro-mini50-run.json
